@mixin Display() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin Button() {
  cursor: pointer;
  width: 120px;
  padding: 10px 0;
  border-radius: 4px;
  background-color: var(--clr-light-green);
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  border: 1px solid var(--clr-light-green);
}
